{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="container mt-3">
    <h2>Log in</h2>
    <form method="post" class="mb-3">
        {% csrf_token %}
        {{ form|crispy }}
        {# this is to force log in to go to dashboard #}
        <input type="hidden" name="next" value="/" />
        <button class="btn btn-primary btn_block" type="submit">Log in</button>
    </form>
    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
</div>

{% endblock content %}
