{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1>Sign Out</h1>
    <p>Are you sure you want to sign out?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger btn_block" type="submit">Sign Out</button>
    </form>
</div>

{% endblock content %}
