{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock title %}

{% block content %}

<div class="container mt-3">
    <form method="POST" action="" class="password_set">
        {% csrf_token %}
        {{ password_set_form | crispy }}
        <div class="form-actions">
            <button class="btn btn-primary btn_block" type="submit" name="action" value="{% trans " Set Password" %}" />Change
            Password</button>
        </div>
    </form>
</div>

{% endblock content %}
