{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container mt-3">
    <h2>Change Password</h2>
    {% include 'dashboard/message.html' %}
    <form method="post" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary btn_block" type="submit">Change Password</button>
    </form>
</div>

{% endblock content %}
