{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="container mt-3 text-center">
        <h3>Your password has been updated.</h3>
        <p class="pt-4">Go to the <a href="{% url 'dashboard:dashboard_view' %}">Dashboard</a>
    </div>

{% endblock content %}
