{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Done{% endblock title %}

{% block content %}

<div class="container mt-3">
    <h1>Password Change Done</h1>
    <p>Your password has been changed.</p>
    <p>You can now <a href="{% url 'account_login' %}">log in</a>.</p>
</div>

{% endblock content %}
