{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container mt-3">

    <h2>Forgot your password? </h2>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary btn_block" type="submit">Reset Password</button>
    </form>
</div>

{% endblock content %}
