{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1>Password Reset</h1>
    <p>We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.</p>
</div>

{% endblock content %}
