{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}

<div class="container mt-3">
    <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
    {% if token_fail %}
        <p>The password reset link was invalid. Perhaps it has already been used? Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn_block" type="submit">Change Password</button>
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
</div>

{% endblock content%}
