{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}Log in{% endblock %}

{% block content %}

<div class="container mt-3">
    <h2 class="mb-4">Oops!</h2>
    <p>It looks like you've used the wrong user name or password {{ failure_limit }} or more times.</p>
    <p><b>You can try to log in again in {{ cooloff_timedelta|pretty_timedelta }}.</b></p>
    <p>Forgotten your password? You can reset it <a href="{% url 'account_reset_password' %}">here</a>.
</div>

{% endblock content %}
