/* Sticky footer styles
-------------------------------------------------- */

html {
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 16px;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #F9F9F9
}

.hide_on_smallest {
    display: inline;
}
.show_on_smallest {
    display: none;
}

@media (max-width: 350px) {
    .shrink_on_smallest, .custom-control-label {
        font-size: 14px;
    }
    .hide_on_smallest {
        display: none;
    }
    .show_on_smallest {
        display: inline;
    }
}

.container {
  max-width: 960px;
}

.body_container {
  max-width: 767px;
  margin: 20px auto 80px;
  padding: 0px 20px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#nav_logo {
    height: 44px;
    width: 92px;
}

.asteriskField {
    display: none;
}

a.no_link {
    text-decoration: none;
    color: inherit;
}

.page_title_container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 767px;
    margin: 0 auto;
    padding: 20px;
}
.page_title {
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
}

.left, .right {
    width: 200px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.add_icon {
    padding: 0 10px;
    font-size: 30px;
    color: white;
}

img.item {
    margin: 8px;
}

img.item.no_margin {
    margin: 0;
}


.item.active.blue  {
    filter: invert(0.5) sepia(1) saturate(100) hue-rotate(219deg);
    /* https://jsfiddle.net/3tw2gjwt/52/ */
}

.item.white, .white_icon  {
    filter: brightness(0) invert(1);
    /* https://jsfiddle.net/3tw2gjwt/52/ */
}

.item.red  {
    filter: invert(0.5) sepia(1) saturate(94) hue-rotate(-18deg);
    /* https://jsfiddle.net/3tw2gjwt/52/ */
}

.item.grey  {
    filter: invert(0.5) sepia(1) saturate(0) hue-rotate(167deg);
    /* https://jsfiddle.net/3tw2gjwt/52/ */
}

.list_title {
    color: #4F5050;
    padding: 20px 20px 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-variant: small-caps;
}

.page_body_heading {
    /* color: #4F5050; */
    padding-bottom: 10px;
    font-weight: 500;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    font-variant: small-caps;
    /* text-align: center; */
}

.page_section {
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.page_section:first-child {
    padding-top: 0px;
}

.page_section:last-child {
    border-bottom: none;
}

.list_view {
    display: block;
    padding: 0;
    margin: 0;
    color: #141515;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.3em;
}

.list_view > li {
    margin-left: 20px;
    padding: 8px 20px 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    border-bottom: 1px solid #eee;
}

.list_view > li:last-child {
    border-bottom: none;
}

.list_view > a {
    min-height: 50px;
    display: flex;
}

.list_view > a > li {
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #eee;
    flex-grow: 2;
}

.list_view > a:last-child > li {
    border-bottom: none;
}

.datetime_grey {
    color: #6c757d;
    font-size: 90%;
}


@media (max-width: 767px) {
    .page_title {
        font-size: 18px;
    }

    .page_title_container {
        width: 100%;
        /* color: #fff; */
        background-color: #1E74FD;
        color: white;
        min-height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1),0 1px 3px 0 rgba(0,0,0,0.08);
        border: 0;
        z-index: 100;
        padding: 0;
    }

    .body_container {
        margin: 76px 20px 70px 20px;
        padding: 0;
    }
    .body_container.no_top {
        margin-top: 56px;
    }

    .body_container.no_gutter {
        margin-left: 0;
        margin-right: 0;
    }

    .page_title_container .left {
        left: 8px;
        top: 0;
    }

    .page_title_container .right {
        right: 8px;
        top: 0;
        display: flex;
        flex-direction: row-reverse;
    }

    .page_title_container .left, .page_title_container .right {
        height: 56px;
        display: flex;
        align-items: center;
        position: absolute;
    }

    .page_title_container a {
        text-decoration: none;
        color: inherit;
    }

    .btn_block {
        display: block;
        width: 100%;
    }

    .mobile_menu {
        min-height: 50px;
        position: fixed;
        z-index: 999;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #C6C6C6;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #fff;
    }

    .mobile_menu .item {
        padding: 5px 0;
        font-size: 10px;
        letter-spacing: 0;
        text-align: center;
        width: 100%;
        height: 50px;
        line-height: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* align-items: end; */
        /* justify-content: center; */
        position: relative;

    }

    .desktop_nav_container {
        display: none;
    }


}

.report_date_break {
    padding: 0 20px;
    background-color: #F9F9F9;
    font-weight: 400;
}

.report_date_break.month {
    /* border-bottom: 1px solid #E1E1E1; */
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.report_date_break.year {
    font-weight: 500;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: -10px;
}


 #div_id_rescheduled_date {
    display: none;
}

.note_break {
    border-bottom: 1px solid #eee;
    margin: 20px auto;
    width: 50%;
}
