{% extends 'base.html' %}
{% load static %}

{% block title %}Clients{% endblock title %}

{% block content %}

<div class="page_title_container">
    <div class="left"></div>
    <div class="page_title">Availability</div>
    <div class="right">
        <a href="{% url 'dashboard:availability_create_view' %}">
            <span class="add_icon d-inline-block d-md-none">+</span>
            <span class="d-none d-md-inline-block btn btn-primary btn-sm">+ Availability</span>
        </a>

    </div>
</div>

{% if availability_list_this_week or availability_list_next_week %}
    <div class="body_container no_gutter no_top">
        {% if availability_list_this_week %}
            <div class="list_title">
                This Week
                <span class="datetime_grey">
                    ({{ this_week_mon|date:'M j' }} - {{ this_week_sun|date:'M j' }})
                </span>
            </div>
            <ul class="list_view">
                {% for availability in availability_list_this_week %}
                    <li>
                        <div>
                            <span class="hide_on_smallest">{{ availability.get_day|date:'l' }}</span>
                            <span class="show_on_smallest">{{ availability.get_day|date:'D' }}</span>
                            {{ availability.start_time|date:'g:i A'|lower}} -
                            {{ availability.end_time|date:'g:i A'|lower }}
                        </div>
                        <div class="update_delete_container">
                            <a href="{% url 'dashboard:availability_update_view' pk=availability.id %}"><img class="item active blue" src="{% static 'images/icons/pencil.svg' %}" alt="" width="18" height="18"></a>
                            <a href="{% url 'dashboard:availability_delete_view' pk=availability.id %}"><img class="item red" src="{% static 'images/icons/trash.svg' %}" alt="" width="18" height="18"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if availability_list_next_week %}
            <div class="list_title">
                Next Week
                <span class="datetime_grey">
                    ({{ next_week_mon|date:'M j' }} - {{ next_week_sun|date:'M j' }})
                </span>
            </div>
            <ul class="list_view">
                {% for availability in availability_list_next_week %}
                    <li>
                        <div>
                            <span class="hide_on_smallest">{{ availability.get_day|date:'l' }}</span>
                            <span class="show_on_smallest">{{ availability.get_day|date:'D' }}</span>
                            {{ availability.start_time|date:'g:i a' }} -
                            {{ availability.end_time|date:'g:i a' }}
                        </div>
                        <div class="update_delete_container">
                            <a href="{% url 'dashboard:availability_update_view' pk=availability.id %}"><img class="item active blue" src="{% static 'images/icons/pencil.svg' %}" alt="" width="18" height="18"></a>
                            <a href="{% url 'dashboard:availability_delete_view' pk=availability.id %}"><img class="item red" src="{% static 'images/icons/trash.svg' %}" alt="" width="18" height="18"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% else %}
    <div class="body_container text-center">
        <img class="mt-3 mb-4" src="{% static 'images/icons/exclamation-triangle.svg' %}" alt="" width="30" height="30">
        <p>You haven't recorded any availability.</p>
        <p>If you would like more work, please add your availability here.</p>
    </div>
{% endif %}



{% endblock content %}
