{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page_title_container">
    <div class="left">
        <a href="{% url 'dashboard:availability_view' %}">
            <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
            <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                Availability
            </span>
        </a>
    </div>
    <div class="page_title">Delete Availability</div>
    <div class="right"></div>
</div>



<div class="body_container">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="btn btn-danger btn_block">Delete</button>
    </form>
</div>

{% endblock content %}
