{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Clients{% endblock title %}

{% block content %}

<div class="page_title_container">
    <div class="left">
        <a href="{% url 'dashboard:availability_view' %}">
            <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
            <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                Availability
            </span>
        </a>
    </div>
    <div class="page_title">
        {% if page_type == 'create' %}
            Add Availability
        {% else %}
            Update Availability
        {% endif %}
    </div>
    <div class="right"></div>
</div>

<div class="body_container">
    {% if error %}
        <div class="messages alert alert-danger text-center">
            {{ error }}
        </div>
    {% endif %}

    {% crispy form %}
</div>

{% endblock content %}
