{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="page_title_container">
        <div class="left"></div>
        <div class="page_title">Dashboard</div>
        <div class="right">
            <a class="nav-link" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="white_icon" src="{% static 'images/icons/people-circle.svg' %}" alt="" width="20" height="20">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
            </div>
        </div>
    </div>

    <div class="body_container">
        {% include 'dashboard/message.html' %}

        {% if fees_owing or cleaner_payment_amount %}
            <div class="page_section">
                <div class="page_body_heading">Fees</div>
                {% if fees_owing %}
                    <div>I owe Excel: <strong>${{ fees_owing|floatformat:"-2"|intcomma }}</strong></div>
                    <a class="btn btn-primary btn-sm btn_block mb-3 mt-2" href="{% url 'dashboard:fees_due_view' %}">View Fees Due</a>
                {% endif %}
                {% if cleaner_payment_amount %}
                    <div class="pb-2">
                        <div class="pb-2">Excel owes me: <strong>${{ cleaner_payment_amount|floatformat:"-2"|intcomma }}</strong></div>
                        <ul>
                            {% for service in reported_services_owed %}
                                <li>
                                    {{ service }}:
                                    ${{ service.get_payment_owed|floatformat:"-2"|intcomma }}
                                    ({{ service.date_time|date:"j/n/y" }})
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if unsubmitted_services_count %}
            <div class="page_section">
                <div class="page_body_heading">Submit Reported Services to Excel</div>
                <p>You have {{ unsubmitted_services_count|apnumber }} reported service{{ unsubmitted_services_count|pluralize:",s" }} saved which {{ unsubmitted_services_count|pluralize:"has,have" }} not been submitted to Excel.</p>
                <a class="btn btn-primary btn-sm btn_block mb-3 mt-2" href="{% url 'dashboard:report_view' %}">View Service{{ unsubmitted_services_count|pluralize:",s" }} To Submit</a>
            </div>
        {% endif %}

        <div class="page_section">
            <div class="page_body_heading">Note from the Office</div>
            {% if office_notes %}
                {% for receipt in office_notes %}
                    {% if not forloop.first %}
                        <div class="note_break"></div>
                    {% endif %}
                    {% if receipt.office_note.title %}
                        <h5>{{ receipt.office_note.title }}</h5>
                    {% endif %}
                    {% if not receipt.office_note.hide_live_at %}
                        <span class="text-muted small">{{ receipt.office_note.live_at|naturaltime }}</span>
                    {% endif %}
                    <div class="mt-2 mb-4">{{ receipt.office_note.note|safe|linebreaks }}</div>
                    <a class="btn btn-primary btn-sm btn_block" href="{% url 'dashboard:office_note_read_view' receipt.id %}">Mark as Read</a>

                {% endfor %}

            {% else %}
                <div class="text-center">
                    No news! <br><br>¯\_(ツ)_/¯
                </div>
            {% endif %}
        </div>



        {% if scheduled_services %}
            <div class="page_section">
                <div class="page_body_heading">Upcoming services</div>
                {% for service in scheduled_service %}
                    <p>{{ service }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
