{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block title %}Jobs{% endblock title %}

{% block content %}

<div class="page_title_container">
    <div class="left">
        <a href="{% url 'dashboard:jobs_view' %}">
            <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
            <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                Jobs
            </span>
        </a>
    </div>
    <div class="page_title">{{ job }}</div>
    <div class="right"></div>
</div>

<div class="body_container">
    <div class="page_section">
        <div class="page_body_heading">Address</div>
        <div>{{ job.get_address }}</div>
    </div>
    <div class="page_section">
        <div class="page_body_heading">Fee Details</div>
        <div>
        {% if job.invoice_job %}
            <p>This is an invoice job, where the client pays Excel and Excel pays you{% if job.cleaner_hourly_rate %} ${{ job.cleaner_hourly_rate|floatformat:"-2"|intcomma }} per hour{% endif %}.</p>
        {% elif job.excel_fee %}
            <p>The agency fee for this job is ${{ job.excel_fee|floatformat:"-2"|intcomma }} per service.</p>
        {% endif %}
        {% if job.byo_cleaner_fee %}
            <p>This service includes a BYO fee (products and equipment) of ${{ job.byo_cleaner_fee|floatformat:"-2"|intcomma }} per service.
        {% endif %}
        </div>
    </div>
    <div class="page_section">
        <div class="page_body_heading">Contact Details</div>
        {% for client in job.clients.all %}
            <div>
                {{ client }}: {% for phone in client.get_phones %}{% if forloop.counter > 1 %},{% endif %} <a href="tel:{{ phone|format_international }}">{{ phone|format_phone }}</a>{% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if job.last_service %}
        <div class="page_section">
            <div class="page_body_heading">Job Details</div>
            <div>Last service: {{ job.last_service }}</div>
        </div>
    {% endif %}

</div>
{% endblock content %}
