{% extends 'base.html' %}
{% load static %}

{% block title %}Jobs{% endblock title %}

{% block content %}

<div class="page_title_container">
    <div class="left"></div>
    <div class="page_title">Jobs</div>
    <div class="right"></div>
</div>

<div class="body_container no_gutter">
    {% if jobs %}
        <ul class="list_view">
            {% for job in jobs %}
            <a class="no_link" href="{% url 'dashboard:job_view' pk=job.id %}">
                <img class="item grey" src="{% static 'images/icons/person-fill.svg' %}" alt="" width="30" height="30">
                <li>
                    {{ job }}
                </li>
            </a>
            {% endfor %}
        </ul>
    {% else %}
        <div class="text-center">
            <img class="mt-3 mb-4" src="{% static 'images/icons/exclamation-triangle.svg' %}" alt="" width="30" height="30">
            <p>You don't have any jobs yet.</p>
            <p>If you're wanting work, please make sure your availability is up to date <a href="{% url 'dashboard:availability_view' %}">here</a>.</p>
        </div>
    {% endif %}
</div>

{% endblock content %}
