{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Clients{% endblock title %}

{% block content %}

    <div class="page_title_container">
        <div class="left"></div>
        <div class="page_title">Report</div>
        <div class="right">
            {% if jobs %}
                <a href="{% url 'dashboard:report_create_view' %}" class="">
                    <span class="add_icon d-inline-block d-md-none">+</span>
                    <span class="d-none d-md-inline-block btn btn-primary btn-sm">+ Service</span>
                </a>
            {% endif %}
        </div>
    </div>


    {% if completed_services or cancelled_services %}
        <div class="body_container no_gutter no_top">
            {% if completed_services %}
                <div class="list_title">Completed services</div>
                <ul class="list_view">
                    {% for service in completed_services %}
                        <li>
                            <div>
                                <div>{{ service }}</div>
                                <div class="datetime_grey">
                                    {{ service.date_time|date:"D" }},
                                    <span class="hide_on_smallest">{{ service.date_time|date:"F j, Y" }}</span>
                                    <span class="show_on_smallest">{{ service.date_time|date:"M j, Y" }} </span>
                                    ({{ service.date_time|date:'g:i A'|lower }})
                                </div>
                            </div>
                            <div class="update_delete_container">
                                <a href="{% url 'dashboard:report_update_view' pk=service.id %}"><img class="item active blue" src="{% static 'images/icons/pencil.svg' %}" alt="" width="18" height="18"></a>
                                <a href="{% url 'dashboard:report_delete_view' pk=service.id %}"><img class="item red" src="{% static 'images/icons/trash.svg' %}" alt="" width="18" height="18"></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if cancelled_services %}
                <div class="list_title">Cancelled services</div>
                <ul class="list_view">
                    {% for service in cancelled_services %}
                        <li>
                            <div>
                                <div>{{ service }}</div>
                                <div class="datetime_grey">{{ service.date_time|date:"D, F j, Y" }}</div>
                            </div>
                            <div class="update_delete_container">
                                <a href="{% url 'dashboard:report_update_view' pk=service.id %}"><img class="item active blue" src="{% static 'images/icons/pencil.svg' %}" alt="" width="18" height="18"></a>
                                <a href="{% url 'dashboard:report_delete_view' pk=service.id %}"><img class="item red" src="{% static 'images/icons/trash.svg' %}" alt="" width="18" height="18"></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="container pt-4">
                <a class="btn btn-success btn_block" href="{% url 'dashboard:report_submit_view' %}">Submit To Excel</a>
            </div>
            <div class="text-center pt-5">See <a href="{% url 'dashboard:report_history_view' %}">previously reported services</a>.</div>
        </div>
    {% elif not jobs %}
        <div class="body_container text-center">
            {% include 'dashboard/message.html' %}
            <img class="mt-3 mb-4" src="{% static 'images/icons/exclamation-triangle.svg' %}" alt="" width="30" height="30">
            <p>You don't have any jobs yet.</p>
            <p>If you're wanting work, please make sure your availability is up to date <a href="{% url 'dashboard:availability_view' %}">here</a>.</p>
        </div>
    {% else %}
        <div class="body_container text-center">
            <p>No services to submit.</p>
            <div class="pt-5">See <a href="{% url 'dashboard:report_history_view' %}">previously reported services</a>.</div>
        </div>
    {% endif %}

{% endblock content %}
