{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="page_title_container">
    <div class="left">
        <a href="{% url 'dashboard:report_view' %}">
            <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
            <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                Report
            </span>
        </a>
    </div>
    <div class="page_title">Submit Report</div>
    <div class="right"></div>
</div>

<div class="body_container">
    <p class="py-4">Are you sure you want to report these services?</p>
    {% crispy form %}
</div>


{% endblock content %}
