{% extends 'base.html' %}
{% load media %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Clients{% endblock title %}

{% block content %}
    <div class="page_title_container">
        <div class="left">
            <a href="{% url 'dashboard:report_view' %}">
                <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                    <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                    Report
                </span>
            </a>
        </div>
        <div class="page_title">Report Service</div>
        <div class="right"></div>
    </div>

    <div class="body_container">
        {% if error %}
            <div class="messages alert alert-danger text-center">
                {{ error|safe }}
            </div>
        {% endif %}

        {% crispy form %}
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {% include_js "views/create_update_reported_service.js" %}
{% endblock javascript %}
