{% extends 'base.html' %}
{% load static %}
{% load media %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

    <div class="page_title_container">
        <div class="left">
            <a href="{% url 'dashboard:dashboard_view' %}">
                <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                    <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                    Dashboard
                </span>
            </a>
        </div>
        <div class="page_title">Fees Due</div>
        <div class="right"></div>
    </div>

    <div class="body_container">
        {% include 'dashboard/message.html' %}

        {% if fees_owing %}
            <p class="pt-4">Fees due <strong>${{ fees_owing|floatformat:"-2"|intcomma }}</strong></p>

            <form method="post">
                {% csrf_token %}
                <div id="div_id_reported_services" class="form-group">
                    <label>
                        Please tick the services you have paid:
                    </label>
                    {% for service in reported_services %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="reported_services" id="id_reported_services_{{ service.id }}" value="{{ service.id }}" fee="{{ service.job.excel_fee }}">
                        <label class="custom-control-label" for="id_reported_services_{{ service.id }}">
                            {{ service }}: ${{ service.job.excel_fee|floatformat:"-2"|intcomma }} ({{ service.date_time|date:"j/n/y" }})
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group py-3">
                    <input type="submit" name="submit" value="Mark $0.00 As Paid" disabled="" class="btn btn-primary btn_block" id="submit-id-submit">
                </div>
            </form>
        {% else %}
            <p class="py-2">You do not have any fees due 👌</p>
        {% endif %}

        {% if cleaner_payment_amount %}
            <div class="pb-2">
                <div class="pb-2">Excel owes me: <strong>${{ cleaner_payment_amount|floatformat:"-2"|intcomma }}</strong></div>
                <ul>
                    {% for service in reported_services_owed %}
                        <li>
                            {{ service }}:
                            ${{ service.get_payment_owed|floatformat:"-2"|intcomma }}
                            ({{ service.date_time|date:"j/n/y" }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <p class="pb-2 text-muted small">
            If any information is incorrect, please call the office on <a href="tel:+61393720190">9372 0190</a>.
        </p>
    </div>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    {% include_js "views/fees_due.js" %}
{% endblock javascript %}
