{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load custom_filters %}

{% block title %}Clients{% endblock title %}

{% block content %}

<div class="page_title_container">
    <div class="left">
        <a href="{% url 'dashboard:report_view' %}">
            <img class="item white d-inline-block d-md-none" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
            <span class="d-none d-md-inline-block btn btn-outline-secondary btn-sm">
                <img class="item no_margin grey" src="{% static 'images/icons/chevron-left.svg' %}" alt="" width="20" height="20">
                Report
            </span>
        </a>
    </div>
    <div class="page_title">Previously Reported Services</div>
    <div class="right"></div>
</div>

{% if reported_services %}
<div class="body_container no_gutter no_top">
    {% for service in reported_services %}
    {% ifchanged service.date_time.date.month %}
    {% if not forloop.first %}
    </ul>
    {% endif %}
    <div class="report_date_break month">
        {{ service.date_time|date:"F" }}
        {% ifchanged service.date_time.date.year %}
            {{ service.date_time|date:"Y" }}
        {% endifchanged %}
    </div>
    <ul class="list_view shrink_on_smallest">
        {% endifchanged %}
        <li>
            <div>
                <div>
                    {{ service }} - {{ service.get_status }}
                    {% if service.job.invoice_job and service.paid_cleaner and service.status == 3 %}
                        <span class="text-success">(Excel paid me)</span>
                    {% elif service.job.invoice_job and not service.paid_cleaner and service.status == 3 %}
                        <span class="text-danger">(Excel owes me)</span>
                    {% elif not service.paid_excel and service.status == 3 and not service.job.invoice_job%}
                        <span class="text-danger">(Un-paid fee)</span>
                    {% endif %}
                </div>
                <div class="datetime_grey">
                    {{ service.date_time|date:"D, F j, Y" }}
                    {% if service.status == 3 %}
                        ({{ service.date_time|date:'g:i A'|lower }})
                    {% endif %}

                </div>
                <div class="datetime_grey">
                    {% if service.job.invoice_job and service.status == 3 %}
                        Excel pays me: ${{ service.get_payment_owed|floatformat:"-2"|intcomma }}
                        ({{ service.duration|display_timedelta }}h x ${{ service.job.cleaner_hourly_rate|floatformat:"-2"|intcomma }}/h{% if service.job.byo_cleaner_fee %} + ${{ service.job.byo_cleaner_fee|floatformat:"-2"|intcomma }} BYO{% endif %})
                    {% elif service.status == 3 %}
                        Fee: ${{ service.job.excel_fee|floatformat:"-2"|intcomma }}
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% else %}
<div class="body_container text-center">
    No previously reported services.
</div>
{% endif %}



{% endblock content %}
